* {
    box-sizing: border-box;
}
body {
    margin: 50px;
    font-size: 17px;
}
h1 {
    color:#F28705;
}
table {
    width:600px;
}
th,td {
    padding:10px;
    text-align: left;
}
th {
    font-weight: normal;
}
table thead {
    background-color: #F28705;
    color:#fff;
}
table tbody {
    background-color:#f2cb054d;
    color: #333;
}
tbody tr:hover {
    background-color: #f2870570;
}
tbody tr:nth-child(even) {
    background-color: #F2CB05;
}
