.container {
    background-color: #aaa;
    display: grid;
    grid-gap: 10px; /* o gap serve para criar espaçamento entre os elementos do grid, como informei apenas 10px, ele colocará 10px de espaço entre linhas e colunas, mas se eu informar assim gap: 10px 20px, ele colocará 10px para linhas e 20px para colunas */
    grid-template-areas: 
    "item1 item1 item2"
    "item3 item4 item4"

    ;     

}

.item {
    background-color: #0000ff;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    padding: 20px;
}

.item:hover {
    background-color: #7a7abd;
    transition: .5s;
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

