/* Selecionando os elementos filhos e manipulando */
.container div {
    background-color: #0000ff;
    width: 100px;
    height: 100px;
    
}

div:first-child {
    border-radius: 10px 10px 0 0;
}

div:last-child {    
    border-radius: 0 0 10px 10px;
}